<style>
    .modal-content{
      background-color: #212121;
    }
</style>

<div class="modal fade" id="sellingModal-{{ owned_item.id }}" tabindex="-1" aria-labelledby="sellingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sellingModalLabel">{{ owned_item.name }}</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {{ selling_form.hidden_tag() }}
            <h4 class="text-center">Are you sure to sell {{ owned_item.name }} for {{ owned_item.price }}$ ?

            </h4>
            <br>
            <h6 class="text-center">By clicking Selling, You will sold this item

            </h6>
            <input id="sold_item" name="sold_item" type="hidden" value="{{owned_item.name}}">
            {{ selling_form.submit(class='btn btn-outline-success btn-block') }}
          </form>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Purchase</button>
        </div>
      </div>
    </div>
  </div>